* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 70px;
    background-color: #f6f8fa;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0px 0;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    margin-left: 10px;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0px 0px 0px 50px;
}
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    margin: 25px 0px 0px 10px;
    display: inline-block;
}

section {
    padding-top: 100px;
}
.introduction {
    display: flex;
    
}
.intro-left {
    width: 300px;
    height: 800px;
    margin: 0px 0px 0px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
}
#portrait {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 10px 0px 0px 0px;
}
.intro-left h1 {
    margin: 20px 0px 0px 0px;
    font-size: 36px;
    font-weight: bold;
    font-family: "KaiTi", "楷体", serif;
    color: #333;
}
.intro-left h2 {
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    font-weight: normal;
    font-family: "SimSun", "宋体", serif;
    color: #666;
}
.intro-left h3 {
    margin: 10px 0px 0px 0px;
    font-size: 18px;
    font-style: italic;
    font-family: "STXingkai", "华文行楷", "KaiTi", "楷体", serif;
    color: #766bcd;
}
.intro-left h4 {
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
    color: #000000;
    margin-bottom: 10px;
}
.intro-right {
    width: 800px;
    height: 800px;
    margin: 0px 0px 0px 50px;

}
.row {
    display: flex;
}
.interest {
    width: 300px;
    height: 100px;
    margin: 10px 0px 0px 0px;
}
.education {
    width: 300px;
    height: 100px;
    margin: 10px 0px 0px 50px;
}
.education-class li {
    display: flex;
    gap: 10px; 
}
.education-info {
    width: 200px;
    display: block;
}